<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
  <appSettings>
    <!-- path - путь откуда забирать файл для автоматического импорта -->
    <add key="path" value="C:\Users\Tata\Desktop"/>
    <!-- filter - маска для фильтрации. -->
    <add key="filter" value="Перечень СИ*.xlsx"/>
  </appSettings>
  
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEqpIntegrationService" />
            </basicHttpBinding>
        </bindings>
        <client>
          <!-- address - строка подключения к веб сервису IEqpIntegrationService. -->
            <endpoint address="http://localhost:8734/Indusoft.LDS.Server.DIM.Eqp/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEqpIntegrationService"
                contract="EqpService.IEqpIntegrationService" name="BasicHttpBinding_IEqpIntegrationService" />
        </client>
    </system.serviceModel>
  
</configuration>

